.claude
claude
fz.egg-info
venv
build
.vscode
.fz
.ssh
.pytest_cache
!examples/**
!tests/**
**/__pycache__
**/**_test**
!tests/test_data/**
**/debug**
**/tmp*
**.pyc
*.txt
!tests/test_data/**/*.txt
*.sh